/* Global styles */
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
}

/* Image styling */
img {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto; 
  border-radius: 10px;
}

/* Heading styling */
h1 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  font-size: 1.5vw;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Paragraph styling */
p {
  font-size: 1vw;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 140%;
  color: hsl(216, 15%, 48%);
  text-align: center;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  padding: 15px;
  border-radius: 20px;
}

/* Attribution styling */
.attribution {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
  color: hsl(216, 15%, 48%);
}

/* Desktop styles */
@media (min-width: 1440px) {
  img {
    max-width: 300px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    font-size: 1.125rem;
  }

  .container {
    max-width: 300px;
    padding: 1.25rem;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1439px) {
  img {
    max-width: 300px;
  }

  h1 {
    font-size: 1.75rem;
    margin-top: 1.75rem;
  }

  p {
    font-size: 1.125rem;
  }

  .container {
    max-width: 300px;
    padding: 1.25rem;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  p {
    font-size: 0.875rem;
  }

  .container {
    max-width: 220px;
    padding: 0.625rem;
  }
}
