/* Global styles */
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

/* Image styling */
img {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto; 
  border-radius: 10px;
}

/* Heading styling */
h1 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Paragraph styling */
p {
  color: hsl(216, 15%, 48%);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

/* Container styling */
.container {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  margin: 5rem auto;
  text-align: center;
}

/* Desktop styles */
@media (min-width: 1440px) {
  img {
    max-width: 300px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    font-size: 1.125rem;
  }

  .container {
    max-width: 300px;
    padding: 1.25rem;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1439px) {
  img {
    max-width: 300px;
  }

  h1 {
    font-size: 1.75rem;
    margin-top: 1.75rem;
  }

  p {
    font-size: 1.125rem;
  }

  .container {
    max-width: 300px;
    padding: 1.25rem;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  p {
    font-size: 0.875rem;
  }

  .container {
    max-width: 220px;
    padding: 0.625rem;
  }
}
